/* * {
	margin: 0;
	padding: 0;
}

#forum_display {
	here i dont understand why justify center collapses
	margin: 0 auto;
	margin-top: 9em;
	width: 180em;
	height: 20em;
	background-color: rgb(87, 174, 224);
	box-sizing: border-box;
}

.row1 {
	margin-top: 2em;
	background-color: aliceblue;
	height: 5em;
	width: 300%;
	box-sizing: border-box;
}
.toprow {
	margin-top: 170em;
	background-color: aliceblue;
	height: 5em;
	width: 90%;
	box-sizing: border-box;
}

.col1 {
	width: 20%;
}

form {
	width: 105%;
} */
